body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #16423C;
    color:white;
    text-align: center;
}
  
.board-container {
  display: inline-block;
  margin: 20px;
  }
    
.cell {

  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
  color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

  .cell.revealed {
    background-color: lightgrey;
    transform: scale(1.05); /* Slightly enlarge the cell */
    animation: fadeIn 0.5s forwards;
}

.cell:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  cursor: pointer; /* Change cursor to pointer */
  background-color: #6A9C89;
}

.cell.mine {
  background-color: #B8001F; /* Mine color */
}

.cell.flag {
  background-color: #FADFA1; /* Flag color */
}

  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

button {
  font-family: 'Times New Roman', Times, serif;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  border: none; /* Remove default border */
  background-color:#6A9C89 ;
  color: white; /* Text color */
}

button:hover{
  background-color: wheat;
  color: #16423C;
  
}

span{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

.restart{
  height: 30px;
  font-size: 20px;
  margin-top: 20px;

}


.status-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 10px; 
  background: linear-gradient(to right, #C4DAD2, #6A9C89);
  background-color: #6A9C89; 
  border: 2px solid #C4DAD2; 
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 18px; 
  font-weight: bold; /* Bold text */
  color: #333; 
}

.status-item {
  margin: 0 10px; /* Add margin between items */
  transition: color 0.3s ease; /* Smooth color transition */
}

.status-item:hover {
  color: wheat; /* Change text color on hover */
}

#timer {
  color: wheat; /* Distinct color for the timer */
}
