
/* Global Styles */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  text-align: center;
  animation: gradientAnimation 15s ease infinite; 
  background: linear-gradient(270deg, #F9ED69, #F08A5D, #B83B5E, #6A2C70);
  background-size: 400% 400%; 
  margin: 0; 
  height: 100vh; 
}

h1{
  font-family: 'Press Start 2P', cursive;
}


/* Animations */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Board Styles */
.board-container {
  display: inline-block;
  margin: 55px;
  }
    
.cell {
  
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
  color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.5s ease;
  }
  

.cell.revealed {
    background-color: lightgrey;
    transform: scale(1.05); 
    animation: fadeIn 0.5s forwards;
}

.cell:hover {
  transform: scale(1.1);
  background-color: #f8bc3b;
  border-radius: 10px;
}


/* Cell Colors */
.cell.mine {
  background-color: #B8001F; 
}

.cell.flag {
  background-color: #FADFA1; 
}

.cell-1 { color: blue; }
.cell-2 { color: green; }
.cell-3 { color: red; }
.cell-4 { color: darkblue; }
.cell-5 { color: darkred; }
.cell-6 { color: orange; }
.cell-7 { color: pink; }
.cell-8 { color: gray; }


/* Button Styles */
button {
  font-family: 'Times New Roman', Times, serif;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px; 
  border-radius: 5px; 
  border: none; 
  background-color:#6A2C70 ;
  color: black; 
}


button:hover{
  background-color: white;
  color: black;
}


button.smiley-button {
  background: none; 
  border: none; 
  padding: 0; 
  margin:0; 
  cursor: pointer; 
  font-size: 30px; 
  color: white; 
  outline: none; 
}

.smiley-button:focus {
    outline: none; 
  }

.smiley-button:hover {
  opacity: 0.8; 
}

button.exit{
  background-color: #F9ED69;
  color: black;
  }
  
button.exit:hover {
    background-color: white;
    color:black
  }
  
  


/* Status and Lives Counter */
  .status-container {
  
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  background-color: white; 
  border: 2px solid #C4DAD2; 
  border-radius: 5px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 18px; 
  font-weight: bold; 
  color: #333; 
}

.status-item {
  margin: 0 10px; 
  transition: color 0.3s ease; 
}

.livesCounter {
  font-size: 20px;
  margin: 10px;
  color: #000000; 
}


/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content {
  background-color: #B8001F;
  color:#000000;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid white;
  width: 80%; 
  border-radius: 5px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalMessage {
  margin: 20px 0; 
  font-size: 22px; 
  text-align: center; 
}


/* Instruction Modal Styles */
.instructions-modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}


.instructions-modal .modal-content {
  background-color: #F9ED69; 
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid white;
  width: 80%; 
  border-radius: 5px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.instructions-modal h2 {
  color:black;
  text-align: center; 
  margin-bottom: 20px; 
}

.instructions-modal ul {
  padding-left: 0; 
    list-style-type: none; 
}

.instructions-modal ul li {
  margin-bottom: 10px; 
  line-height: 1.5; 
  font-size: 18px; 
  color: #333; 
}

.instructions-modal .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Level Styles */
.easy {
  background-color: #F9ED69; 
}

.medium {
  background-color: #F08A5D; 
}

.hard {
  background-color: #B83B5E; 
}


.easy:hover {
  background-color: white; 
}

.medium:hover {
  background-color: white; 
}

.hard:hover {
  background-color: white; 
}


/* Miscellaneous Styles */
.restart {
  height: 30px;
  font-size: 20px;
  margin-top: 20px;

}

.restart-message {
  display: block; 
  font-size: 20px; 
  color:black; 
  
}


span {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

div > button {
  margin-top: 20px; 
}


footer {
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  color: #000000;
}